@font-face {
    font-family: 'Product Sans Black';
    src: url('../fonts/prouct_sans_black.ttf') format('truetype');
}

@font-face {
    font-family: 'Product Sans Regular';
    src: url('../fonts/product_sans_regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Consolas';
    src: url('../fonts/consola.ttf') format('truetype');
}

.blank_space{
    width: 100%;
    height: 100px;
}

.page_not_found {
    width: 400px;
    height: 300px;
    background-image: url(../images/404.png);
    background-size: 100%;
    margin: 0 auto;
}

.page_not_found_subtittle{
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    color: #2F4858;
    font-family:'Product Sans Regular';
    margin-top: 20px;
}

body{
    margin: 0px 0px 0px 0px;
    background-color: #F6F6F6;
}

.contenedor{
    width: 1024px;
    margin: 0 auto;
}

.banner{
    width: 100%;
    height: 100px;    
}

.centrar {
    margin: 0 auto;
    width: 900px;
    margin-top: 80px;
}

.titulo{
    color: #32DE84;
    float: left;
    margin-top: 33px;
    margin-left: 50px;
    font-size: 25px;    
    text-decoration: none;
    font-family:'Product Sans Black';
}

.itemMenu:hover {
    opacity: 0.5;
}

.titulo:hover{
    opacity: 0.5;
}

.itemMenu {
    text-decoration: none;
    float: right;
    font-family: 'Product Sans Regular';
    color: #2F4858;
    font-size: 18px;
    margin-top: 0;
    margin-top: 33px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    display: block;
    text-transform:capitalize;
}

.menu{
    overflow: hidden;
    position: relative;
    z-index: 1000;
}

#icon{
    display: none;
}

.nombre {
    font-family: 'Consolas';
    font-size: 50px;
    color: #2F4858;
}

.description {
    font-size: 26px;
    font-family: 'Consolas';
    color: #2F4858;
    margin-top: 15px;
}

.description strong {
    color: #32DE84;
}

.foto {
    background-image: url(../images/foto.png);
    width: 378px;
    height: 342px;
    float: right;
    background-size: 100%;
}

.presentacion { 
    float: left;   
    margin-top: 50px;
}

.socialMediaIcons {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 20px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.socialMediaPanel {
    margin-top: 20px;
}

.socialMediaIcons:hover{
    filter: none;
    -webkit-filter: grayscale(0);
}

#selected {
    font-weight: bold;
    color: #32DE84;
}

.date{
    font-family: 'Consolas';
    width: 70px;
    text-align: center;
    float: left;
    font-size: 16px;
    margin-top: 3px;
}

.projectItemLink {
    float: left;
    text-decoration: none;
    font-family: 'Consolas';
    font-size: 16px;
    color: #2F4858;
    margin-right: 20px;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
}

.projectItemLink:active{
    background-color: #77BAE4;
}

.projectItemLink:hover{
    opacity: 0.7;
}

.projects-container {
    margin-left: 15px;
    margin-right: 15px;
}

.projectConatiner {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 20px;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80%;
}

.projectConatiner:hover {
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.projectItemBody{
    float: left;
    width: 90%;
}

.divider {
    width: 100%;
    height: 0.5px;
    margin-top: 20px;
    background-color: dimgrey;
    opacity: 0.5;
}

.projectItemTitle {
    font-size: 25px;
    font-family: 'Consolas';
}

.projectItemDescription {
    font-family: 'Consolas';
    text-align: justify;
    font-size: 18px;
}

@media screen and (max-width: 900px){
    .projectConatiner {
        width: 80%;
    }

    .projectItemBody{
        width: 100%;
    }

    .projectItemDescription{
        margin-top: 15px;
    }

    .date{
        display: none;
    }

    .page_not_found {
        width: 300px;
        height: 240px;
    }

    #icon{
        float: left;
        display: block;
        position: absolute;
        left: 0px;
        top: 28px;
        left: 20px;
        color: white;
        background-color: #2F4858;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 9px;
        padding-bottom: 9px;
        position: fixed;
        z-index: 9999;
    }

    .contenedor{
        width: 100%;
    }

    .titulo{
        text-align: center;
        width: 100%;
        font-size: 30px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .itemMenu{
        width: 100%;
        padding: 10px;
        margin-top: 0px;
        margin-left: 0px;
        float: left;
        text-align: left;
        color: white;
    }

    .menu{
        width: 100%;
        background-color: #2F4858;
        display: none;
        margin-top: 10px;
    }

    .foto{
        float: none;
        margin: 0 auto;
        width: 230px;
        height: 207px;
    }

    .presentacion{
        width: 100%;       
    }

    .centrar{
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }

    .nombre{
        font-size: 25px;
    }

    .description{
        font-size: 20px;
        text-align: center;
    }
    
    .socialMediaPanel{
        text-align: center;
        margin-top: 50px;
    }
    
    .socialMediaPanel div{
        display: inline-block;
    }

    .socialMediaIcons{
        margin-right: 10px;
        margin-left: 10px;
    }
    
}
