@font-face {
    font-family: 'Product Sans Black';
    src: url('../fonts/prouct_sans_black.ttf') format('truetype');
}

@font-face {
    font-family: 'Product Sans Regular';
    src: url('../fonts/product_sans_regular.ttf') format('truetype');
}


.fuenteBlack{
    font-family:'Product Sans Black';
    color: black;
}

.fuenteRegular{
    font-family:'Product Sans Regular';
    color: #2f4858;
    margin-left: 5%;
}

a{
    text-decoration: none;
}



