@font-face {
    font-family: 'Product Sans Black';
    src: url('../fonts/prouct_sans_black.ttf') format('truetype');
}

@font-face {
    font-family: 'Product Sans Regular';
    src: url('../fonts/product_sans_regular.ttf') format('truetype');
}

.body{
    display: flex;
    margin: 0;
}

.franja
{
    width: 240px;
    height: 100%;
    background-image:  url(../images/Trazado.png);
    position: absolute;
}

.Menu{
    justify-content: space-between;
    display: flex;
    margin-left: 75%;
    color: #2f4858;
    width: 300px;
    transform: translateY(-130%);
}

.puntos{
    position: relative;
    transform: scale(0.6);
    top: 50px;
}

.elementos{
    position: relative;
    right: 70px;
    transform: scale(0.7);
    top: -50px;
}

h1{
    font-family:'Product Sans Black';
    position: relative;
    color: white;
    padding: 15px;
    margin: 0;
}

.profile{
    border: 8px solid white;
    border-radius: 50%;
    position: relative;
    width: 25%;
    height: 25%;
    transform: translateX(100px);
    top: 80px;
}

.Menu a{
    text-decoration: none;
    color: #2f4858;
    font-family:'Product Sans Regular';
    font-size: 24px;
}

a {
    text-decoration: none;
}

.info{
    background-color:#87F0B8;
    width: 300px;
    color:#2f4858;
    font-family: Product Sans Regular;
    margin-left: 68%;
    padding-right: 125px;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 35px;
    border-top-left-radius:5% ;
    border-bottom-left-radius: 5%;
    margin-top: -350px;
}

.info h1{
    padding: 0px;
    color:#2f4858;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  } 
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-instagram {
    background: #E1306C;
    color: white;
  }
  
  .fa-github {
    background: black;
    color: white;
  }

@media screen and (max-width: 480px){
    h1{
        font-family:'Product Sans Black';
        position: relative;
        color: #2f4858;
        padding: 15px;
        /* margin: 0; */
        
    }

    .franja{
        width: max-content;
        height: 220%;
        margin-top: 200px;
        background-color: #87F0B8;
       
    }

    .info{
        width: 300px;
        transform: translateX(-610px);
        margin-top:20px;
        background-color: #87F0B8 ;
    }

    .profile{
        border: 8px solid white;
        border-radius: 50%;
        position: relative;
        width: 70%;
        height: 70%;
        transform: translateX(150px);
        top: 30px;
    }

    
}