:root {
  --primary-color: #006cff;
  --secondary-color: #1255b3;
  --white: #fff;
  --gray: #e6e9ed;
  --black: #303133;
  --border-radius: 5px;
  --primary-font: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

.fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid-container {
  max-width: 980px;
  margin: 0px auto;
}

.button--primary {
  padding: 10px 15px;
  background: var(--primary-color);
  border-radius: var(--border-radius);
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 50px;
  color: var(--white);
}

.button--primary:hover {
  background-color: var(--secondary-color);
}

.button--outlined {
  padding: 10px 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  font-size: 1.6rem;
}

.button--outlined:hover {
  border: 1.5px solid var(--secondary-color);
}

a {
  display: inline;
  text-decoration: none;
  color: black;
}

.simple-link {
  color: var(--primary-color);
}

header {
  width: 100%;
  height: 140px;
  min-width: 320px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: var(--primary-color);
}

.header-icons-container .icons {
  width: 250px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

.header-icons-container .icons span {
  font-size: 2.5rem;
  color: var(--white);
}

nav {
  height: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--white);
}

.nav-logo-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.logo {
  width: 200px;
  height: 34px;
  background-image: url("../assets/img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

.nav-profile-link a {
  color: var(--black);
  border-bottom: 1px solid var(--black);
}

.nav-profile-link a:hover {
  border-bottom: 2px solid var(--secondary-color);
}

main {
  width: 100%;
  height: 100%;
  min-width: 320px;
}

.home-main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  background-image: url("../assets/img/cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-main section {
  height: 350px;
  display: grid;
  grid-column: 2;
  justify-items: center;
  margin-top: 80px;
}

.home-main__text {
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: 10px;
  text-align: center;
  color: var(--white);
}

.home-main__button {
  width: 120px;
  height: 50px;
  padding: 0px;
}

.blogs-main {
  display: grid;
}

.blogs-main-new {
  background-color: var(--white);
  padding: 0px 50px;
  padding-bottom: 35px;
}

.blogs-main-new h3 {
  margin: 25px 0px;
}

.main-new-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

.main-new__img-container {
  grid-column: 1;
}

.main-new__img-container img {
  width: 80%;
}

.main-new__info-container {
  grid-column: 2;
}

.main-new__info-container p {
  margin-bottom: 35px;
  margin-top: 20px;
}

.blogs-posts {
  padding: 40px 30px;
}

.blogs-posts h3 {
  border-bottom: 1px solid var(--gray);
  padding-bottom: 20px;
  text-align: center;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 35px;
}

.post-item {
  max-width: 30%;
  display: inline-block;
  margin-bottom: 50px;
  margin-right: 20px;
}

.post-item__title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}

.post-item__content {
  margin-bottom: 40px;
  text-justify: inter-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.post-item img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 6px;
}

footer {
  width: 100%;
  height: 80px;
  min-width: 320px;
  box-sizing: content-box;
  background-color: var(--black);
  border-top: 35px solid var(--primary-color);
  text-align: center;
}

footer p {
  margin-top: 30px;
  /* margin: 30px 20px; */
  color: var(--white);
}

.blogpost-img-container {
  padding: 0 0px 40px;
}

.blogpost-img-container img {
  width: 100%;
}

.blogpost-main-container {
  max-width: 820px;
  margin: 0 auto;
  padding: 0 35px 40px;
}

.blogpost-main-container h3 {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray);
}

.blogpost-main-container article h1 {
  margin: 35px 0px;
  padding-bottom: 20px;
  font-size: 3.5rem;
  text-align: center;
  border-bottom: 1px solid var(--gray);
}

.blogpost-main-container article p {
  margin-bottom: 25px;
  text-justify: inter-word;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 35px;
}

.gallery-item {
  max-width: 30%;
  display: inline-block;
  margin-bottom: 50px;
  margin-right: 20px;
}

.gallery-item img {
  width: 100%;
}

.not-found__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75vh;
  padding: 0 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.not-found__container h3 {
  font-size: 15rem;
}

.not-found__container h4 {
  font-size: 3rem;
}

.not-found__container p {
  margin-top: 20px;
}
